input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    &:focus, &active {
        outline: 1px solid lightblue;
    }
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: white;
    &:hover {
        cursor: pointer;
        background-color: #FAFAFA;
    }
    &:active {
        background-color: #F5F5F5;
    }
}

label {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}