:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
}

.error {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}