<form (submit)="onSubmit()">
    <label>Prénom</label>
    <input [field]="form.firstName" type="text">
    @if (form.firstName().touched()) {
        @for (error of form.firstName().errors(); track error) {
            <label class="error">{{ error.message }}</label>
        }
    }
    <label>Nom</label>
    <input [field]="form.lastName" type="text">
    @if (form.lastName().touched()) {
        @for (error of form.lastName().errors(); track error) {
            <label class="error">{{ error.message }}</label>
        }
    }
    <div>
        <label>
            <input type="checkbox" [field]="form.wantToBePokemonTrainer"> En
            cochant, j'accepte d'être un jour le meilleur dresseur
        </label>
        @if (form.wantToBePokemonTrainer().touched()) {
            @for (error of form.wantToBePokemonTrainer().errors(); track error) {
                @if (error.kind === 'required') {
                    <div class="error">
                        <label>
                            Comment ça vous ne voulez pas être le meilleur dresseur ?
                        </label>
                        <img [src]="'/assets/pikachu-surprised.png'" width="100">
                    </div>
                }
            }
        }
    </div>
    <button type="submit" [disabled]="form().invalid()">C'est parti !</button>
</form>