<h1>Mon équipe</h1>
<button (click)="teamChanged.emit()">Changer de pokemon</button>
<label>
    Votre équipe a une puissance de {{ teamPower() }}
</label>
<div class="pokemon-list">
    @for (pokemon of myTeam(); track pokemon.id) {
        <div class="pokemon-item">
            <label>{{ pokemon.name }}</label>
            <img [src]="pokemon.image" width="50">
            <label>Niveau {{ pokemon.level }}</label>
            @if (canEvolve(pokemon)) {
                <button (click)="onEvolve(pokemon)">Faire évoluer !</button>
            } @else {
                <div>
                    <button (click)="onLevelUp(pokemon)" [disabled]="pokemon.level >= maxLevel()">Monter de niveau
                    </button>
                    <button (click)="onLevelUpMax(pokemon)">Max</button>
                </div>
            }
        </div>
    }
</div>
