:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5rem;
        overflow: auto;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 8px;
    }
}